# Core ML
torch==1.12.0
torchvision==0.13.0

# AWS
boto3==1.26.137
sagemaker==2.155.0

# Data Processing
Pillow==9.5.0
numpy==1.23.5

# Config Management
python-dotenv==1.0.0
PyYAML==6.0

# Testing
pytest==7.3.1
pytest-cov==4.1.0
pytest-mock==3.10.0

# MLOps
mlflow==2.3.1

# Code Quality
flake8==6.0.0
black==23.3.0
