# Core ML
torch
torchvision

# AWS
boto3
sagemaker

# Data Processing
Pillow
numpy

# Config Management
python-dotenv
PyYAML

# Testing
pytest
pytest-cov
pytest-mock

# MLOps
mlflow

# Code Quality
flake8
black
